<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups>
		  <run>
			  <include name="Retesting"></include>
		  </run>
	  </groups>
	  
    <classes>
      <class name="com.Mahidhar_TestNG.Mahidhar1"/>
      <class name="com.Mahidhar_TestNG.After_method"/>
      <class name="com.Mahidhar_TestNG.Before_MEthod"/>
      <class name="com.Mahidhar_TestNG.After_class"/>
      <class name="com.Mahidhar_TestNG.Befor_test_AnnotationTest"/>
      <class name="com.Mahidhar_TestNG.Before_class"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
